<h2 class="text-center my-3">Template Driven From</h2><hr>
<div class="container">
  <div class="row justify-content-center ">
    <div class="col-4 border shadow rounded">
      <form class="my-3" #form="ngForm" (ngSubmit)="onSubmit(form)" >
        <div ngModelGroup="userDetails" #userForm="ngModelGroup">
          <div class="form-group">
            <label for="">User Name<span class="text-danger">*</span> </label>
            <input type="text" #name="ngModel" required class="form-control" ngModel name="uname" id="" aria-describedby="helpId" placeholder="">
            <small *ngIf="name.invalid && name.touched"  class="text-danger">Enter Valid User Name</small>
          </div>
          <div class="form-group">
            <label for="">Email<span class="text-danger">*</span></label>
            <input type="text" #email="ngModel" required email class="form-control" ngModel name="email" id="" aria-describedby="helpId" placeholder="">
            <small *ngIf="email.invalid && email.touched" class="text-danger">Enter Valid Email</small>
          </div>
        </div>
        <div class="form-group">
          <label for="">Gender<span class="text-danger">*</span></label>
          <!-- <div class="custom-control custom-radio" *ngFor="let item of gender" >
            <input type="radio" id="{{item.id}}" #gender="ngModel" ngModel required value="{{item.val}}" name="gender" class="custom-control-input">
            <label class="custom-control-label" for="{{item.id}}">{{item.val}}</label>
          </div> -->
          <div class="custom-control custom-radio" >
            <input type="radio" #male="ngModel" id="Male" ngModel required value="Male" name="gender" class="custom-control-input">
            <label class="custom-control-label" for="Male">Male</label>
          </div>
          <div class="custom-control custom-radio" >
            <input type="radio" #female="ngModel" id="Female" ngModel required value="Female" name="gender" class="custom-control-input">
            <label class="custom-control-label" for="Female">Female</label>
          </div>
        </div>
        <div class="form-group">
          <label for="">Select Course<span class="text-danger">*</span></label>
          <select class="form-control"  #option="ngModel" required ngModel name="select" id="">
            <!-- <option value="Default">Select Course</option> -->
            <option value="Angular">Angular</option>
            <option value="React">React</option>
            <option value="Django">Django</option>
          </select>
          <small *ngIf="option.invalid && option.touched" class="text-danger">Select Valid Option</small>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="form.invalid" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>



